<%= javascript_include_tag params[:controller] %>
<h1>Woah <span>.</span></h1>
<div class="box" id="1">
<form name="question" method="get" action="#">
Question: <input type="text" name="command" class="question">
 <button>Submit</button>
</form>
<ol class="list" id="2">
</ol>
</div>