<div>
  <div>
    <h1>This is Woah<span>.</span></h1> 
  </div>
</div>

<div>
  <h3>
    Who's online?
  </h3>
</div>
<% @users.each do |u| %>
	<li><%= u.name %></li>
  <li><%= link_to "Questions", questions_path %></li>
<% end %>
