<h1>Welcome to Woah.</h1>

  <% if ! logged_in? %>

        <%= link_to "Sign up for an Account", new_user_path %><br>

        <%= link_to "Sign in to your account", new_session_path %><br>

  <% else %>

        <%= link_to "Go to your page!", user_path( current_user ) %><br>

        <%= link_to "Sign out of your account", session_path, :method => :delete %>

  <% end %>






<a href="#wheel" class="wheel-button">
       <span>+</span>
      </a>
      <ul id="wheel" data-angle="all">
        <li class="item"><a href="#">Home</a></li>
        <li class="item"><a href="#">Questions</a></li>
        <li class="item"><a href="#">Profile</a></li>
        <li class="item"><a href="#">Logout</a></li>
      </ul>
