<h1>Welcome to Woah</h1><span>.</span>

        <%= link_to "Create an Account", new_user_path %><br>

        <%= link_to "Sign in to your account", new_session_path %><br>


<a href="#wheel" class="wheel-button">
       <span>+</span>
      </a>
      <ul id="wheel" data-angle="all">
        <li class="item"><a href="#">Home</a></li>
        <li class="item"><a href="#">Questions</a></li>
        <li class="item"><a href="#">Profile</a></li>
        <li class="item"><a href="#">Logout</a></li>
      </ul>

<a class="back" href="#">Back to the Home Page.</a>