* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-family: sans-serif; }

.packery {
  background: none;
}

.packery:hover {

}
/* clearfix */
.packery:after {
  content: ' ';
  display: block;
  clear: both;
}

.item {
  width: 150px;
  height: 100px;
}

.item-content {
  overflow: scroll;
  width:  100%;
  height: 100%;
  background: #09D;
  border: 4px solid #333;
  border-color: hsla(0, 0%, 100%, 0.4);
  -webkit-transition: width 0.4s, height 0.4s;
     -moz-transition: width 0.4s, height 0.4s;
       -o-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}


/* item has expanded size */
.item.is-expanded {
  width: 60%;
  height: 120px;
}

.item:hover { cursor: pointer; }

.item:hover .item-content {
  border-color: white;
}

.item.is-expanded {
  z-index: 2;
}

.item.is-expanded .item-content {
  background: #C90;
}