html {
height: 100%;
}

h1.border, h1.questions {
  border-bottom: 5px solid black;
  font-size: 3em;
}

span.dot {
  color: red;
  font-size: .5em;
}

.upButton {
  font-size: 3em;
  color: #df4727;
}
a.btns {
display: inline-block;
border: 2px solid #000;
padding: 1em 1.25em;
font-weight: 500;
text-transform: uppercase;
letter-spacing: 3px;
text-decoration: none;
cursor: pointer;
width: 150px;
height: 1.5em;
line-height: 1.3em;
background: #000;
color: #fff;
}

body {
background: #f4eedf;
padding: 50px;
position: relative;
height: 100%;
}

.back {
text-align: center;
display: block;
padding: 20px;
width: 100%;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
background: rgba(0, 0, 0, 0.05);
font-weight: bold;
font-size: 1em;
color: black;
-webkit-transition: all 200ms ease-out;
-moz-transition: all 200ms ease-out;
-o-transition: all 200ms ease-out;
transition: all 200ms ease-out;
}

span.container {
  color: red;
}

footer {
  padding: 80px;
  float: left;
}

h1.container {
  font-size: 3em;
}

a {
text-decoration: none;
}

li.nav {
  display: inline;
}

a.btns {
}



